name: ci
on:
  pull_request:
  merge_group:

concurrency:
  group: ci
  cancel-in-progress: true

jobs:
  compile-provider:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Download modules
        run: go mod download

      - name: Compile
        run: go build -trimpath .

  check-docs:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Download modules
        run: go mod download

      - name: Check docs updated
        run: |
          make provider-docs
          git diff --exit-code

      - name: Print failure message
        if: failure()
        run: |
          cat <<EOF >>"$GITHUB_STEP_SUMMARY"
          ## Documentation

          The documentation is outdated, please ensure to run following command to update the documentation:

          \`\`\`shell
          make provider-docs
          \`\`\`

          Now commit the documentation and push the changes.
          EOF

  test-provider:
    runs-on: ubuntu-24.04

    needs: [compile-provider]

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Download modules
        run: go mod download

      - name: Test
        run: make test

  acceptancetest-provider:
    runs-on: ${{ matrix.os }}

    needs: [compile-provider]

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          # Kind action seems not to implement these os accordingly
          # - windows-2022
          # - macos-12

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v3.12.0

      - name: Download modules
        run: go mod download

      - name: Create kind 1.33.4 cluster
        uses: helm/kind-action@v1.13.0
        # Only build a kind cluster if there are chart changes to test.
        with:
          version: v0.19.0
          node_image: kindest/node:v1.33.4@sha256:25a6018e48dfcaee478f4a59af81157a437f15e6e140bf103f85a2e7cd0cbbf2
          kubectl_version: v1.33.4
          verbosity: 1

      - name: Deploy Dex IDP
        run: make install-dex

      - name: Acceptance test
        run: make acc-test
